MouseX-Getopt-*
pm_to_blib
inc
blib
Makefile
Makefile.old
META.yml
MANIFEST
MANIFEST.bak
*.*.swp
.*
!.gitignore
/mousex-getopt-*
/.build
/_build_params
/Build
/Build.bat
!Build/
!META.json
!LICENSE
/local/
MYMETA.json
MYMETA.yml
cpanfile.snapshot
